
/**
 *
 *  Main layout styles 
 *  
 */
#header {
	margin: 10px 0;
}
#container{
  margin: 0 20px 0;
	width: 700px;
}
.search #container {
  width: 870px;
}
/* header */
.search #header,
.search #footer {
	padding: 0 170px 0;
}
/** main-content **/
#main-content {
  float: right;
  padding: 15px;
  width: 670px;
}
.node-content {
  float: left;
	padding: 0 10px 0 0;
  width: 490px;
} 
/** Sidebar **/
#aside {
  float: left;
  width: 170px;
}








