
.clear-block {
display:block;
}
body {
  background: url(../images/background.jpg) no-repeat #112435;
	font-size: 14px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/**
 * Typography
 */
h1,
h1,
h3,
h4,
h5, 
h6,
p,
li {
	margin: 10px 0;
}
h1 {
  font-size: 3.1em; 
  height: 0.86em;
  letter-spacing: -0.1em;
  overflow: hidden;
  font-family: Trebuchet, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
}
h1 a,
h1 a:hover{
  background: none;
	color: #cbdeaa;
}
h3 {
	border-bottom:1px solid #4A4C4F;
	font-size: 1.5em;
	padding: 5px 0;
}
p{
	font-size: 1em;
	line-height: 1.4em;
}
ul {
	list-style: disc  inside none;
}
ol {
	list-style: decimal inside none;	
}
li a.active {
	color: #fff;
}
p a {
  background: #27333f;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #bfbfbf;
	padding: 5px;
}
p a:hover,
p a:focus {
	color: #fff;
	background: #23486d;
}
#site-slogan{
	color: #66a2ab;
	font-style: italic;
	margin: -7px 0 0
}
/**
 * Table
 */
table {
  border-spacing: 0;
  font-size: 0.85em;
  margin: 10px 0;
}

table tr th {
  background-color: #112435;
  border-bottom-style: none;
}
table thead tr th,
table thead tr th a,
table thead tr th a:hover {
  color: #FFF;
  font-weight: bold;
}
td a{
	color: #000;
	background: none;
}
tr td,
tr th {
  border: 1px solid #fff;
	color: #000;
  padding: 4px 9px;
}
tr.odd {
  background-color: #e4e4e4;
}
tr,
tr.even {
  background-color: #efefef;
}
#block-system-main table ul.links {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
#block-system-main table ul.links li {
  padding: 0 1em 0 0;
}
/**
 * main-content
 */
#main-content {
  background: #2C3C4F;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
} 
/* Demo region font color*/
.block-region {
	color: #000;
}
/* node-content */
.node-content {
  border-right: 1px solid #23486d;
}
/* node $Links */
.node-links ul {
	display: block;
}
.node-links ul.links li {
	display: block;
	margin: 20px 0 0;
	list-style: none;
}
.node-links li a {
  background: #1F2A37;
	 -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	border-radius: 5px;
  margin:15px 0 0 10px;
	padding: 5px;
}
.node-links li a:hover,
.node-links li a:focus {
  text-shadow: 1px 1px 2px #5F0622;
}
.node-links li a:active {
  position: relative;
  top: 1px;
}
.submitted {
	color: #cfcfcf;
}
li.comment_add a,
li.comment_comments a{
  background: url(../images/quote.png) no-repeat 3px #1f2a37;
  padding-left: 24px;
}
li.node_read_more a{
  background: url(../images/plus.png) no-repeat 3px #1f2a37;
  padding-left: 23px;
}
li.upload_attachments a{
  background: url(../images/download.png) no-repeat 3px #1f2a37;
  padding-left: 23px;	
}
/**
 * Forms
 */

.form-submit {
	margin: 10px;
}
.form-text,
.form-textarea {
	-moz-border-radius:5px 5px 5px 5px;
  background: #C3D0DF;
  border: 1px solid #66a2ab;
  padding:5px;
}
fieldset {
  border: 1px solid #C3D0DF;;
	margin: 10px;
	padding: 10px;
}


/* Search form */
#search {
  background: #2C3C4F;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  padding: 10px 0 10px 10px;
}
#edit-search-theme-form-1-wrapper label {/* Label that says "Search this site:" */
  display: none;
}
#search input.form-submit,
#search-form input.form-submit {
  background: url(../images/search.png) no-repeat left center;
  border: 0 none;
  cursor: pointer;
	height: 24px;
	margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 23px;
}
.search-form input.form-text,
input#edit-search-theme-form-1{
  background: #0D2C5A;
  border: 1px solid #66a2ab;
	color: #FFF;
	 -moz-border-radius: 3px;
	 -webkit-border-radius: 3px;
	border-radius: 3px;
  padding: 3px;
}

/* Tabs */
.tabs,
.tabs .active {
	color: #000;
}

 